* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}

nav {
    width: 100%;
    position: fixed;
    height:  50px;
    background-color: #212121;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu__link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu__item {
    border-right: 2px dotted #000000;
    padding-right: 28px;
}

.subheader {
    top: 50px;
    position: absolute;
    width: 100%;
    min-height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.subheader .subheader__logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader__official {
    margin-top: 6px;
    color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400; 
}

.subheader .subheader__call {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300; 
    text-align: right;
}

.subheader .subheader__phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400; 
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader__btn, .promo .promo__btn {
    display: block;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

.subheader .subheader__btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    font-size: 14px;
}

.promo .promo__btn {
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    font-size: 18px;
}
.promo {
    min-height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo__header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.promo .promo__subheader {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center;
}

.promo .promo__descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}

.advantages {
    min-height: 900px;
    padding: 70px 0;
}

.advantages .advantages__subtitle {
    margin: 0 auto;
    width: 110px;
    height: 22px;
    box-sizing: border-box;
    padding: 7px 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    line-height: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.advantages .advantages__header {
    margin-top: 36px;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.advantages .advantages__item {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.advantages .advantages__item .item__img {
    align-self: center;
}

.advantages .advantages__item .item__text {
    width: 343px;
    text-align: justify;
    line-height: 21px;
}

.advantages .advantages__item .item__text .item__title {
    font-size: 17px;
    font-weight: 400;
    color: #1eacc7;
    line-height: 21px;
}

.advantages .advantages__item .item__text .item__descr{
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #202020;
}